<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.XdAddress.mapper.XdAddressMapper">
    
    <resultMap type="XdAddress" id="XdAddressResult">
        <result property="id"    column="id"    />
        <result property="uId"    column="u_id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="address"    column="address"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="area"    column="area"    />
        <result property="isDefault"    column="is_default"    />
        <result property="notes"    column="notes"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptId"    column="dept_id"    />
        <result property="userId"    column="user_id"    />
        <result property="uId"    column="u_id"    />
    </resultMap>

    <sql id="selectXdAddressVo">
        select id, u_id, name, phone, address, province, city, area, is_default, notes, create_time, update_time,
               dept_id, user_id from xd_address as xa
    </sql>

    <select id="selectXdAddressList" parameterType="XdAddress" resultMap="XdAddressResult">
        <include refid="selectXdAddressVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
            <if test="province != null  and province != ''"> and province like concat('%', #{province}, '%')</if>
            <if test="city != null  and city != ''"> and city like concat('%', #{city}, '%')</if>
            <if test="area != null  and area != ''"> and area like concat('%', #{area}, '%')</if>
            <if test="isDefault != null  and isDefault != ''"> and is_default = #{isDefault}</if>
            <if test="notes != null  and notes != ''"> and notes like concat('%', #{notes}, '%')</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="uId != null "> and u_id = #{uId}</if>
            <if test="1==1 ">and 1=1</if>
        </where>
        ${params.dataScope}
    </select>
    
    <select id="selectXdAddressById" parameterType="Long" resultMap="XdAddressResult">
        <include refid="selectXdAddressVo"/>
        where id = #{id}
    </select>

    <insert id="insertXdAddress" parameterType="XdAddress" useGeneratedKeys="true" keyProperty="id">
        insert into xd_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uId != null">u_id,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="address != null">address,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="area != null">area,</if>
            <if test="isDefault != null">is_default,</if>
            <if test="notes != null">notes,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uId != null">#{uId},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="address != null">#{address},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="area != null">#{area},</if>
            <if test="isDefault != null">#{isDefault},</if>
            <if test="notes != null">#{notes},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateXdAddress" parameterType="XdAddress">
        update xd_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="uId != null">u_id = #{uId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="area != null">area = #{area},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
            <if test="notes != null">notes = #{notes},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXdAddressById" parameterType="Long">
        delete from xd_address where id = #{id}
    </delete>

    <delete id="deleteXdAddressByIds" parameterType="String">
        delete from xd_address where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>