<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.XdCategories.mapper.XdCategoriesMapper">
    
    <resultMap type="XdCategories" id="XdCategoriesResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="typeName"    column="type_name"    />
        <result property="typeImg"    column="type_img"    />
        <result property="description"    column="description"    />
        <result property="weight"    column="weight"    />
        <result property="notes"    column="notes"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptId"    column="dept_id"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectXdCategoriesVo">
        select id, parent_id, type_name, type_img, description, weight, notes, status, create_time, update_time, dept_id, user_id from xd_categories  as xc
    </sql>

    <select id="selectXdCategoriesList" parameterType="XdCategories" resultMap="XdCategoriesResult">
        <include refid="selectXdCategoriesVo"/>
        <where>
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
            <if test="typeImg != null  and typeImg != ''"> and type_img = #{typeImg}</if>
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
            <if test="weight != null "> and weight = #{weight}</if>
            <if test="notes != null  and notes != ''"> and notes like concat('%', #{notes}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="1==1 ">and 1=1</if>
        </where>
        ${params.dataScope}
    </select>
    
    <select id="selectXdCategoriesById" parameterType="Long" resultMap="XdCategoriesResult">
        <include refid="selectXdCategoriesVo"/>
        where id = #{id}
    </select>

    <insert id="insertXdCategories" parameterType="XdCategories" useGeneratedKeys="true" keyProperty="id">
        insert into xd_categories
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="typeName != null">type_name,</if>
            <if test="typeImg != null">type_img,</if>
            <if test="description != null">description,</if>
            <if test="weight != null">weight,</if>
            <if test="notes != null">notes,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="typeName != null">#{typeName},</if>
            <if test="typeImg != null">#{typeImg},</if>
            <if test="description != null">#{description},</if>
            <if test="weight != null">#{weight},</if>
            <if test="notes != null">#{notes},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateXdCategories" parameterType="XdCategories">
        update xd_categories
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="typeImg != null">type_img = #{typeImg},</if>
            <if test="description != null">description = #{description},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="notes != null">notes = #{notes},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXdCategoriesById" parameterType="Long">
        delete from xd_categories where id = #{id}
    </delete>

    <delete id="deleteXdCategoriesByIds" parameterType="String">
        delete from xd_categories where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>