<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.XdUserFeedback.mapper.XdUserFeedbackMapper">
    
    <resultMap type="XdUserFeedback" id="XdUserFeedbackResult">
        <result property="id"    column="id"    />
        <result property="uId"    column="u_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="userId"    column="user_id"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="handleResult"    column="handle_result"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectXdUserFeedbackVo">
        select id, u_id, dept_id, user_id, content, status, handle_result, created_time, update_time from xd_user_feedback
    </sql>

    <select id="selectXdUserFeedbackList" parameterType="XdUserFeedback" resultMap="XdUserFeedbackResult">
        <include refid="selectXdUserFeedbackVo"/>
        <where>  
            <if test="uId != null "> and u_id = #{uId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="handleResult != null  and handleResult != ''"> and handle_result = #{handleResult}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
        </where>
    </select>
    
    <select id="selectXdUserFeedbackById" parameterType="Long" resultMap="XdUserFeedbackResult">
        <include refid="selectXdUserFeedbackVo"/>
        where id = #{id}
    </select>

    <insert id="insertXdUserFeedback" parameterType="XdUserFeedback">
        insert into xd_user_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uId != null">u_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="content != null">content,</if>
            <if test="status != null">status,</if>
            <if test="handleResult != null">handle_result,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="uId != null">#{uId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="content != null">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="handleResult != null">#{handleResult},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateXdUserFeedback" parameterType="XdUserFeedback">
        update xd_user_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="uId != null">u_id = #{uId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="handleResult != null">handle_result = #{handleResult},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXdUserFeedbackById" parameterType="Long">
        delete from xd_user_feedback where id = #{id}
    </delete>

    <delete id="deleteXdUserFeedbackByIds" parameterType="String">
        delete from xd_user_feedback where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>